<div id="msc-minicalc-wrapper">
			<form name="spacecalc1">
										<div class="msc-form-calc">
<!--											<div class="msc-calc-button"><input type="submit" value="Calculate" name="cbutton" onclick="addUp(this); return false;"></div> -->
											<input type="text" name="totalfield" size="12" value="Storage Size Guide" style="border: none !important; font-size: 32px !important; width: 100%; padding: 0 !important;"  disabled>
											<div style="margin-top: 4px;"><input name="reset" type="reset" value="Reset Form"></div>
										</div>
											
											
													
				<div class="msc-heading">Living Room</div>
					<div class="msc-cols3">
									<div class="msc-item">
										<div class="msc-item-text">Air conditioner</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="APP_aircond"></div>
                                    </div>
									<div class="msc-item">
										<div class="msc-item-text">Bookcase</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_bookcase"></div>
                                    </div>
									<div class="msc-item">
										<div class="msc-item-text">Baby carriage</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_baby_carriage"></div>
                                    </div>									
									<div class="msc-item">
										<div class="msc-item-text">Bookshelves</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_bookshelves"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">Cabinet</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_cabinet"></div>
									</div>		
									<div class="msc-item">
										<div class="msc-item-text">Chair, arm</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_chair_arm"></div>
                                    </div>			
									<div class="msc-item">
										<div class="msc-item-text">Chair, straight</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_chair_straight"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">Chair, occasional</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_chair_occas"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">Chair, overstuffed</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_chair_overstuff"></div>
									</div>	
									<div class="msc-item">
										<div class="msc-item-text">Chair rocking</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_chair_rocking"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">Desk, writing</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_desk"></div>
                                    </div>									
									<div class="msc-item">
										<div class="msc-item-text">Desk, misc</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_desk"></div>
                                    </div>
									<div class="msc-item">
										<div class="msc-item-text">Fireplace equip.</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_fireplace_equip"></div>
                                    </div>			
									<div class="msc-item">
										<div class="msc-item-text">Sofa, 6ft.</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_sofa_6ft"></div>
                                    </div>									
									<div class="msc-item">
										<div class="msc-item-text">Lamp</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_lamp"></div>
									</div>	
									<div class="msc-item">
										<div class="msc-item-text">Sofa, sectional/pc</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_sofa_sect"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">Sofa, loveseat</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_sofa_loveseat"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">Table, coffee</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_table"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">Table, end</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_table_coffee_end"></div>
									</div>										
									<div class="msc-item">
										<div class="msc-item-text">Media center</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_stereo_console"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">TV, sm flat scrn</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_tv_table_model"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">TV, lg flat scrn</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_tv_console"></div>
                                    </div>	
									<div class="msc-item">
										<div class="msc-item-text">Wall Unit</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="LR_wallunit"></div>
                                    </div>										
					</div> <!-- close out 3 cols -->
				<div class="msc-heading">Kitchen & Dining Room</div>
					<div class="msc-cols3">					
									<div class="msc-item">
										<div class="msc-item-text">Freezer</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="APP_freezer"></div>
									</div>  
									<div class="msc-item">
										<div class="msc-item-text">Dehumidifier</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="APP_dehumid"></div>
                                    </div>
									<div class="msc-item">
										<div class="msc-item-text">Dishwasher</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="APP_dishwasher"></div>
                                    </div>										
									<div class="msc-item">
										<div class="msc-item-text">Range</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="APP_stove"></div>
                                    </div>											
									<div class="msc-item">
										<div class="msc-item-text">Refrigerator</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="APP_refridge"></div>
                                    </div>
									<div class="msc-item">
										<div class="msc-item-text">Washing machine</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="APP_washing_mach"></div>
									</div>										
									<div class="msc-item">
										<div class="msc-item-text">Dryer</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="APP_dryer"></div>
                                    </div>	
									<div class="msc-item">
										<div class="msc-item-text">Buffet, base</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="DR_buffet_base"></div>
									</div>	
									<div class="msc-item">
										<div class="msc-item-text">Table, dining</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="table_dining"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">Chair, dining</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="DR_chair_dining"></div>
									</div>											
									<div class="msc-item">
										<div class="msc-item-text">Server</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="DR_server"></div>
                                    </div>	
				</div> <!-- close out 3 cols -->
				<div class="msc-heading">Bedroom</div>
					<div class="msc-cols3">										
									<div class="msc-item">
										<div class="msc-item-text">Table, small</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="APP_table"></div>
                                    </div>									
									<div class="msc-item">
										<div class="msc-item-text">Chair</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="APP_chair"></div>
                                    </div>																		
									<div class="msc-item">
										<div class="msc-item-text">Bed, bunk</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_bed_bunk"></div>
									</div>			
									<div class="msc-item">
										<div class="msc-item-text">Bed, double</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_bed_double"></div>
                                    </div>									
									<div class="msc-item">
										<div class="msc-item-text">Bed, single</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_bed_single"></div>
                                    </div>
									<div class="msc-item">
										<div class="msc-item-text">Bed, king</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_bed_king"></div>
                                    </div>																		
									<div class="msc-item">
										<div class="msc-item-text">Bed, queen</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_bed_queen"></div>
									</div>	
									<div class="msc-item">
										<div class="msc-item-text">Bed, rollaway</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_bed_rollaway"></div>
                                    </div>									
									<div class="msc-item">
										<div class="msc-item-text">Bookshelves</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_bookshelves"></div>
                                    </div>
									<div class="msc-item">
										<div class="msc-item-text">Chair, BR</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_chair"></div>
									</div>		
									<div class="msc-item">
										<div class="msc-item-text">Bureau</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_bureau"></div>
                                    </div>
									<div class="msc-item">
										<div class="msc-item-text">Chest, cedar</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_chest_cedar"></div>
                                    </div>																		
									<div class="msc-item">
										<div class="msc-item-text">Cabinet, corner</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="DR_cabinet_corner"></div>
                                    </div>									
									<div class="msc-item">
										<div class="msc-item-text">Desk, BR</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_desk"></div>
									</div>	
									<div class="msc-item">
										<div class="msc-item-text">Dresser, single</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_dresser_single"></div>
                                    </div>	
									<div class="msc-item">
										<div class="msc-item-text">Dresser, double</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_dresser_double"></div>
                                    </div>																		
									<div class="msc-item">
										<div class="msc-item-text">Nightstand</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_nightstand"></div>
                                    </div>									
									<div class="msc-item">
										<div class="msc-item-text">Armoire</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="BR_armoire"></div>
									</div>									
				</div> <!-- close out 3 cols -->
				<div class="msc-heading">Misc</div>
					<div class="msc-cols3">	
									<div class="msc-item">
										<div class="msc-item-text">Box, all-purpose</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_box_allpurp"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">Box, wardrobe</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_box_wardrobe"></div>
									</div>	
									<div class="msc-item">
										<div class="msc-item-text">Box, legal tote</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_box_legal"></div>
                                    </div>	
									<div class="msc-item">
										<div class="msc-item-text">Box, book</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_box_book"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">Bicycle</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_bicycle"></div>
                                    </div>										
									<div class="msc-item">
										<div class="msc-item-text">File cabinet, 2 drw</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_filecab_2"></div>
                                    </div>									
									<div class="msc-item">
										<div class="msc-item-text">File cabinet, 4 drw</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_filecab_4"></div>
                                    </div>
									<div class="msc-item">
										<div class="msc-item-text">File cabinet, cdbd</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_filecab_cdbd"></div>
									</div>										
									<div class="msc-item">
										<div class="msc-item-text">Golf bag</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_golfbag"></div>
                                    </div>																		
									<div class="msc-item">
										<div class="msc-item-text">Fan</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_fan"></div>
                                    </div>											
									<div class="msc-item">
										<div class="msc-item-text">Suitcase</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_suitcase"></div>
                                    </div>								
									<div class="msc-item">
										<div class="msc-item-text">Hamper, clothes</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_hamper"></div>
									</div>
									<div class="msc-item">
										<div class="msc-item-text">Patio chair</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_patio_chair"></div>
                                    </div>
									<div class="msc-item">
										<div class="msc-item-text">Patio chaise lounge</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_patio_lounge"></div>
									</div>		
									<div class="msc-item">
										<div class="msc-item-text">Piano, baby grand</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_piano_baby"></div>
                                    </div>	
									<div class="msc-item">
										<div class="msc-item-text">Piano, upright</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_piano_uprite"></div>
                                    </div>										
									<div class="msc-item">
										<div class="msc-item-text">Patio table</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_patio_table"></div>
                                    </div>
									<div class="msc-item">
										<div class="msc-item-text">Table, game</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_game_table"></div>
                                    </div>		
									<div class="msc-item">
										<div class="msc-item-text">Table, card</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_card_table"></div>
									</div>										
									<div class="msc-item">
										<div class="msc-item-text">Rug, small</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_rug_small"></div>
                                    </div>											
									<div class="msc-item">
										<div class="msc-item-text">Rug, large</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_rug_large"></div>
									</div>	
									<div class="msc-item">
										<div class="msc-item-text">Sewing machine</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_sewing_mach"></div>
                                    </div>	
									<div class="msc-item">
										<div class="msc-item-text">Trunk</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="MISC_trunk"></div>
                                    </div>										
									<div class="msc-item">
										<div class="msc-item-text">Vacuum cleaner</div>
										<div class="msc-input"><input type="number" onclick="addUp(this); return false;"  min="0" name="APP_vacuum"></div>
                                    </div>										

					
					</div> <!-- close out 3 cols -->
				<div class="msc-form-calc">
<!--											<div class="msc-calc-button"><input type="submit" value="Calculate" name="cbutton" onclick="addUp(this); return false;"></div> -->
					<input type="text" name="totalfield2" value="Storage Size Guide" size="12" style="border: none !important; font-size: 32px !important; width: 100%; padding: 0 !important;"  disabled>
					<div style="margin-top: 4px;"><input name="reset" type="reset" value="Reset Form"></div>
				</div>
                                      

                                    
					</form>
</div>